package views

import (
    layouts "mingley/views/layout"
)

templ SignIn() {
@layouts.MainLayout(){
<div class="text-bold text-yellow-600">
    <form>
        <h1>
            Sign up for a mingley account to continue
        </h1>
        <label>
            username
        </label>
        <input/>
            <label>
            email
        </label>
        <input/>
        <label>
            password
        </label>
        <input/>
    </form>
</div>
}
}
